<div class="container">
    <div class="infoCustomer">
        <div class=" infoCustomer--row " >
            <a class="header" href="../HTML/BOXgear.html">
            BOXgear</a>
        </div>
        <div class="infoCustomer--row">
            <a href=""> Thông tin giao hàng</a> > <a href="">Phương thức thanh toán</a>
        </div>
        <div class="infoCustomer--row">Thông tin giao hàng</div>
        <div class="infoCustomer--form--container infoCustomer--row">
            <form action="">
                <div class="form--row">Tên đăng nhập</div>
                <div>
                    <label for="diaChiDaLuu">Địa chỉ đã lưu trữ</label>
                    <select name="diaChiDaLuu" id="">
                        <option value="">Đại học Kinh tế Luật</option>'<option value="">Kí túc xá đại học quốc gia</option>'
                    </select>
                </div>
                <div  class="form--row">
                    <div>  <label class="form__label" for="hoten">Họ và tên: </label></div>
                    <div>  <input class="form__input" type="text" name="hoten" id="" placeholder="Họ và tên"></div> 
                </div>
                <div  class="form--row">
                    <label for="">Số điện thoại: </label>
                    <input class="form__input" type="text" name="" id="" placeholder="Số điện thoại">
                </div>
                <div  class="form--row"> 
                    <label for="diachi">Địa chỉ: </label>
                    <input class="form__input" type="text" name="diachi" id="" placeholder="Địa chỉ">
                </div>
                <div  class="form--row">
                    <label for="tinhThanh">Tỉnh/Thành</label>
                    <select name="tinhThanh" id="" class="form__select" >
                        <option value="" selected>Chọn tỉnh thành</option>
                        <option value="">Hà Nội</option>
                        <option value="" >Hồ Chí Minh</option>
                   
                    </select>
                </div>
                <div class="form--row"> 
                    <label for="huyen">Quận/Huyện</label>
                    <select name="huyen" id="" class="form__select" >
                        <option value="" selected>Chọn quận huyện</option>
                    </select>
                </div>
                <div class="form--row row--thanhtoan">
                        <div>Phương thức thanh toán</div>
                        <div><input type="radio" name="phuongthucthanhtoan" id="" >Thanh toán khi giao hàng</div>
                        <div><input type="radio" name="phuongthucthanhtoan" id="" >Thanh toán qua ngân hàng</div>

                </div>
               
                <div  class="form--row">
                   <input class="form__input submit" type="submit" value="Tiếp tục đến phương thức thanh toán">
                </div>
            </form>
        </div>
    </div>
    <div class="infoProduct">
        <div class="infroProduct--row infroProduct--row-1">
            <div><img src="../JSON/Logo/SP1.png" alt="" style="width: 100px;"></div>
            <div>TiTanM</div>
            <div>1</div>
        </div>
        <hr>
        <div class="infroProduct--row">
            <form action="">
            <input class="infroProduct__input" type="text" placeholder="Mã giảm giá">
            <input class="infroProduct__submit" type="submit" value="Sử dụng">
        </form>
        </div>
        <hr>
        <div class="infroProduct--row infroProduct--row-3"> 
            <div>Tạm tính</div>
            <div>  150000</div>
        </div>
        <div class="infroProduct--row">
            <div>Phí vận chuyển</div>
            <div>  0</div>
        </div>
        <hr>
        <div class="infroProduct--row">
            <div>Tổng cộng</div>
            <div>  150000</div>
        </div>
    </div>
</div>