<div class="container-card"  >
    <div class="cardd card-1">
        <div>
        <div class="title">Dự án</div>
        <div class="number">1203</div>  
        </div>
        <div class="card-icon-1">
          <i class="las la-clipboard-list"></i>
        </div>
        </div>
    <div class="cardd card-2">
        <div>
            <div>Khách hàng</div>
            <div  class="number">2322</div>  
        </div>
        <div class="card-icon-2">
          <i class="fa fa-users " aria-hidden="true"></i>
        </div>
        </div>
    <div class="cardd card-3">
            <div >
                <div>Đơn hàng</div>
                <div>232321</div>  
            </div>
            <div class="card-icon-3">
              <i class="las la-shopping-bag"></i>
            </div>
        </div>
    <div class="cardd card-4">
          <div >
              <div>Doanh thu</div>
              <div>232321</div>  
          </div>
          <div class="card-icon-4">
              <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
    </div>
    
</div>
    <!-- <div class="content">
    <div class="recentOrder">
        <h3>Đơn hàng gần đây</h3>   
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
     </div>
        <div class="recentCustomer">
           <h3>Khách hàng gần đây</h3>   
           <table>
               <thead>
                   <tr>
                       <td>Name</td>
                       <td>wqewq</td>
                   </tr>
               </thead>
           </table>
        </div>
        
    </div> -->
    <div class="content-report">
        <div class="content-report-left">
          <div class="content-report-left-header">
           Active Users Status
          </div>
          <div class="content-report-left-content">
            <div class="left-content-total" >
                <span>1234</span>
            </div>
           
            <div class="list-profile">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Active pages</th>
                    <th scope="col">Users</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>products</td>
                    <td>235</td> 
                  </tr>
                  <tr>
                    <td>Home</td>
                    <td>178</td> 
                  </tr>
                  <tr>
                    <td>Blogs</td>
                    <td>159</td> 
                  </tr>
                  <tr>
                    <td>Cart</td>
                    <td>48</td> 
                  </tr>

                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="content-report-right">

          <div class="content-report-left-header">
           Top Products
          </div>
          <div>
            <table class="table-newOrders">
              <thead>
                <tr>
                  <th>Products</th>
                  <th>Customers</th>
                  <th>ToTal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>laptop</td>
                <td class="table-1-customer">
                  <ul >
                    <li  >
                      <span class="todo">Todo</span>
                      <img style="width: 42px;height: 42px; border-radius: 50%;" src="https://d.wattpad.com/story_parts/695605582/images/1618f0fbea9b5d68304026498560.jpg" alt=""></li>
                    <li style="margin-left: -10px;"><img style="width: 42px;height: 42px; border-radius: 50%;" src="https://d.wattpad.com/story_parts/695605582/images/1618f0fbea9b5d68304026498560.jpg" alt=""></li>

                  </ul>
                </td>
                <td>90,000,000</td>
              </tr>
              <tr>
                <td>PC</td>
                <td class="table-1-customer">
                  <ul >
                    <li  >
                      <span class="todo">Todo</span>
                      <img style="width: 42px;height: 42px; border-radius: 50%;" src="https://d.wattpad.com/story_parts/695605582/images/1618f0fbea9b5d68304026498560.jpg" alt=""></li>
                    <li style="margin-left: -10px;"><img style="width: 42px;height: 42px; border-radius: 50%;" src="https://d.wattpad.com/story_parts/695605582/images/1618f0fbea9b5d68304026498560.jpg" alt=""></li>

                  </ul>
                </td>
                <td>890000</td>
              </tr>
              <tr>
                <td>Màn hình</td>
                <td class="table-1-customer">
                  <ul >
                    <li  >
                      <span class="todo">Todo</span>
                      <img style="width: 42px;height: 42px; border-radius: 50%;" src="https://d.wattpad.com/story_parts/695605582/images/1618f0fbea9b5d68304026498560.jpg" alt=""></li>
                    <li style="margin-left: -10px;"><img style="width: 42px;height: 42px; border-radius: 50%;" src="https://d.wattpad.com/story_parts/695605582/images/1618f0fbea9b5d68304026498560.jpg" alt=""></li>

                  </ul>
                </td>
                <td>890000</td>
              </tr>
              
              
              </tbody>
            </table>
          </div>
        </div>
    </div>
   

