
.container-invoice{
    margin: 0 15px;
    background-color: white;
    border-radius: 5px;
}

.container-invoice-header{
    padding: 21px;
    display: flex;
    justify-content: space-between;
}
.container-invoice-header h4{
    font-weight: 300;
    font-size: 22px;
    color: #464855;
}
.container-invoice-content-1{
    display: flex;
    justify-content: space-between;
    padding: 0 21px;
    color: #464855;
}
.show label, .search label{
font-size: 1rem;
margin-right: 3px;
}
.show select, .search input{
    border-radius: 4px;
    border: 1px solid #babfc7;
    padding: 3px;
    font-size: 0.9rem;

}
.table-bordered thead tr th{
    padding:10.5px 28px ;
    color: #464855;
    font-weight: 600;
    

}
thead{
    border-bottom: transparent;
}
.table-bordered thead tr th .fa {
   margin-left: 40px;
   font-size: 12px;
}
.table-bordered tbody tr td{
    padding:10.5px 28px ;
    color: #464855;
    font-weight: 400;
    font-size: 1rem;

}
.content-3-showing{
    flex: 0 0 40%;
}
.content-3-showing div{
    font-size: 16px;
    color: #464855;
    padding: 10px 12px;
}
.container-invoice-content-3{
    display: flex;
    width: 100%;
   
}
.content-3-transition{
    display: flex;
    flex: 0 0 60%;
    
}
.content-3-transition-child{
    display: flex;
    margin-left: auto;
    padding: 10px 12px;
}
.content-3-transition-child div{
    padding: 6px 12px;
    background-color: #f0f0f0;
    color: #464855;
    border-radius: 3px;
}
@media screen and (max-width: 500px){
    .container-invoice-content-1{
        width: 400px;
        overflow-x: scroll;
        
    }
}