<div class="container " >
    <div class="card">
        <div class="container-fliud" >
            <div class="wrapper row" >
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="{{products.hinh}}" /></div>
                      <div class="tab-pane" id="pic-2"><img src=""/></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                    
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="https://product.hstatic.net/1000026716/product/nitro_5_eagle__5__ee0ddd2f515b4b0496d535fbf9b1fce7.png" /></a></li>
                    </ul>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{products.ten}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 đánh giá</span>
                    </div>
                    <p class="product-description"></p>
                    <h4 class="price">Giá khuyến mãi: <span>{{products.tien}}</span></h4>
                    <p class="vote"><strong>91%</strong> người mua rất thích sản phẩm này! <strong>(87 votes)</strong></p>
                    <div class="action">
                        <button class="add-to-cart btn btn-default gradient-custom-2" type="button" routerLink="/cart" routerLinkActive="active">add to cart</button>
                        <button class="like btn btn-default gradient-custom-2" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


