<div class="div--container">
    <div class="content">
        <a href="../HTML/BOXgear.html">Trang chủ</a>/ Blog - Tin Tức
    </div>
    <div class="container--post">
            <div class="post__img"><img src="https://product.hstatic.net/1000026716/product/1_1cb66c0a3ec54f9b86b4d4213119daa7.png" alt=""></div>
            <div>
                <h4 class="post--head"><a href="">
                Tìm hiểu và phân loại các loại bàn phím cơ AKKO hiện nay? Hướng dẫn chọn  mua bàn phím cơ AKKO.
                </a></h4>
                <div>
                   <span class="fa fa-user"></span> Thảo <span class="fa fa-calendar"></span> 29 - 12-2021
                </div>
                <div class="post--detail">
                    <a href="">
                    Xem thêm <span class="fa fa-angle-double-right"></span>
                    </a>
                </div>
            </div>
    </div>
